<h1>id: <%= @item.id %> のレビュー詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @item.id %></td>
  </tr>
  <tr>
    <th>アイテム</th>
    <td><%= @item.item %></td>
  </tr>
  <tr>
    <th>レビュー</th>
    <td><%= @item.content %></td>
  </tr>
</table>

<%= link_to 'このレビューを編集する', edit_item_path(@item), class: 'btn btn-default' %>
<%= link_to 'このレビューを削除する', @item, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>