<h1>id: <%= @item.id %> のレビュー詳細ページ</h1>

<p><%= @item.item %></p>

<%= link_to '一覧に戻る', items_path %>
<%= link_to 'このレビューを編集する', edit_item_path(@item) %>
<%= link_to 'このレビューを削除する', @item, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>